<html>
<head>
  <title>Sample Form</title>
</head>
<body>
  <h1>Sample Form</h1>
  <form action="http://localhost:3000/adduser" method="post">
    <input type="text" name="name", placeholder="enter userName:" />
    <input type="text" name="stack" placeholder="enter user stack" />
    <input type="number" name="salary" placeholder="enter user salary" />
    <input type="text" name="type" placeholder="enter user type of employement" />
    <button type="submit"  >Submit</button>
  </form>
  <script>
  </script>
</body>
</html>
