<html>
<head>
  <title>Sample Form</title>
</head>
<body>
  <h1>Sample Form</h1>
  <form action="./adduser" method="post">
    <input type="text" name="username", placeholder="enter userName:" />
    <input type="number" name="userstack" placeholder="enter user stack" />
    <input type="text" name="usersalary" placeholder="enter user salary" />
    <input type="text" name="usertype" placeholder="enter user type of employement" />
    <button type="submit"  >Submit</button>
  </form>
  <script>
  </script>
</body>
</html>





